<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Chris Continanza" />
<!--   <link href="http://feeds.feedburner.com/tom-preston-werner" rel="alternate" title="Tom Preston-Werner" type="application/atom+xml" /> -->

   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="/css/syntax.css" type="text/css" />

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />
</head>
<body>


<div class="site">
  <div class="title">
    <a href="/">Chris Continanza</a>
    <a class="extra" href="/">home</a>
  </div>
  
  {{ content }}
  
  <div class="footer">
    <div class="contact">
      <p>
        Chris Continanza<br />
        Hacker at <a href="http://zipzoomauto.com/">ZipZoomAuto</a><br />
        Memeber of <a href="http://austinhackerspace.org">Austin Hackerspace</a><br/>
        Member of <a href="http://austinonrails.org">AustinOnRails</a><br/>
      </p>
    </div>
    <div class="contact">
      <p>
        christopher.continanza [at] gmail.com  <br/>
        <a href="http://github.com/csquared/">github.com/csquared</a><br />
        <a href="http://twitter.com/em_csquared/">twitter.com/em_csquared</a><br />
      </p>
    </div>
  </div>
</div>

<a href="http://github.com/csquared"><img style="position: absolute; top: 0; right: 0; border: 0;" 
    src="http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub" /></a>
</body>
</html>
